# export NIXPKGS_ALLOW_INSECURE=1
export QT_AUTO_SCREEN_SCALE_FACTOR=1
export CMAKE_EXPORT_COMPILE_COMMANDS=1
export CMAKE_BUILD_TYPE=Debug
export CXX=g++
export CC=gcc
# export CXXQT_INCLUDE_PATH=$GUIX_ENVIRONMENT/include
# export INCLUDEPATH="/gnu/store/pkjvij1f6rvx42xv2kygicr7fsch41dl-profile/include"
use flake . --impure
# eval $(guix shell -D --search-paths)

# use guix --development -f guix.scm
