[
    (
        id: 0,
        background: Background(
            path: "~/pics/frodo.jpg",
            kind: Image
        ),
        text: "This is Frodo",
        font: Some(Font(
                name: "Quicksand",
                weight: Normal,
                style: Normal,
                size: 130,
            )),
        font_size: 130,
        stroke: None,
        shadow: None,
        text_alignment: MiddleCenter,
        video_loop: false,
        video_start_time: 0.0,
        video_end_time: 0.0,
        pdf_index: 0,
    ),

    (
        id: 0,
        background: Background(
            path: "~/vids/test/chosensmol.mp4",
            kind: Video
        ),
        text: "This is Frodo",
        font: Some(Font(
                name: "Quicksand",
                weight: Normal,
                style: Normal,
                size: 130,
            )),
        font_size: 130,
        stroke: None,
        shadow: None,
        text_alignment: MiddleCenter,
        video_loop: false,
        video_start_time: 0.0,
        video_end_time: 0.0,
        pdf_index: 0,
    )
]
